<div style="text-align: center;">
  <h1>Juego de Dados</h1>
  
  <div style="display: flex; justify-content: center; gap: 10px; margin-bottom: 20px;">
    <button class="btn btn-primary rounded-pill" style="width: 60px; height: 60px; font-size: 1.2em;">
      {{ valorDado1 }}
    </button>
    <button class="btn btn-danger rounded-pill" style="width: 60px; height: 60px; font-size: 1.2em;">
      {{ valorDado2 }}
    </button>
    <button class="btn btn-success rounded-pill" style="width: 60px; height: 60px; font-size: 1.2em;">
      {{ valorDado3 }}
    </button>
  </div>

  <hr />

  <button type="button" class="btn btn-primary" (click)="tirarDados()">
    Jugar
  </button>

  <hr>

  <p>{{ resultado }}</p>
</div>
